*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F8FCDA;
    text-align: center;
}

h3{
    margin-top: 10px;
}

.msg-container{
    height: 10vh;
    width: 100%;
    display: flex-wrap;
    justify-content: center;
    align-items: center;    
}

.container{
    display: flex;
    justify-content: center;
}

#gamebody{
    margin-top: 80px;
    height: 60vh;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9FBB2;
}

#playarea{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 18vmin;
    color: #FFFFFF;
    background-color: #C17767;
    margin: 1px;
}

#reset{
    min-height: 5vmin;
    min-width: 6vmin;
} 

#newGame{
    min-height: 5vmin;
    min-width: 10vmin;
    margin-right: 20px;
}

#winMessage{
    margin-bottom: 30px;
}

#oS, #xS{
    border: none;
    border-radius: 10px;
    text-align: center;
    width: 6vmin;
    gap: 3vmin;
    color: red;
}
